#header_div
{
    width:100%;
    
    font-size: 25px;;
}
#instruction_btn
{
    font-size: 20px;;
    border:2px white solid;
    float:right;
}
#img_mario
{
    width:100%;
    height:50%;
}
#play_game
{
font-size:20px;
margin-left:550px;
}
#game_playing
{
    font-size:20px;
    margin-left:600px;
}